.header {
  display: flex;
  opacity: 1;
  justify-content: space-between;
  margin: 20px;
  align-items: center;

  .menu {
    border-radius: 8px;
    padding: 8px;

    &:hover {
      background-color: #5d44ae1f;
    }
  }

    input {
    width: 30%;
    height: 48px;
    margin-right: 400px;
    border-radius: 12px;
    border: 1.5px solid #E8ECF4;
    background-color: #F5F7FA;
    color: #2D3748;
    padding: 0 16px;
    font-size: 14px;
    transition: all 0.3s ease;
    
    &::placeholder {
      color: #899BBE;
      font-size: 14px;
    }

    &:hover {
      border: 1.5px solid #724BF2;
      background-color: #FFFFFF;
    }
  }


  .profile {
    display: flex;
    gap: 20px;
    align-items: center;
  }


  .logo {
    display: flex;
    font-size: 20px;
    gap: 10px;
    align-items: center;
  }

  .lang {
    display: flex;
    gap: 10px;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  .arrow {
    transform: rotate(180deg);
  }
}