.cryptoBlock {
  display: flex;
  height: 65px;
  font-size: 12px;
  justify-content: space-between;
  padding:  0 20px;
  align-items: center;
  margin: 5px;

  &:hover {
    background-color: #e8e5ff;
    cursor: default;
  }

  .leftBlock {
    display: flex;
    gap: 15px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
  }
  
  .description {
    color: #899BBE;
    margin-top: 5px;
  }

  .increase {
    color: #20BF6B;
    margin-top: 5px;
  }
}